<!DOCTYPE html 	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="ar">
<head>
<title>مشاريع للغة العربية</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="favicon.ico">

</head>
<body dir="rtl">
<center>
<img src="images/logo.png" alt="يازجي: مولد الجمل العربية" align='center' width=300 style='align:center;'>
<h1>
يازجي: مولد الجمل العربية</h1>

<hr><h2 >اعتذار وتوضيح </h2>

<h3>يؤسفنا أنّ إصلاح الموقع قد تأخر، ولفائدة زوارنا الكرام، نريد توضيح ما يلي: </h3>

<ol>
<li>يازجي برنامج مفتوح المصدر برنامج حر.</li>
<li>لا نية لنا في إغلاق هذه الخدمة، والتوقف مؤقت، بسبب مشاكل تقنية</li>
<li>نرحب بكل مساعدة ممكنة</li>
</ol>

<h3>يمكنك العودة إلى
<a href='http://tahadz.com/yaziji'>  الصفحة الرئيسية
</a></h3>
<p>يرجى الاتصال بمسؤول الموقع</p>


  <div id="footer">
	<a href="http://tahadz.com">للاتصال</a>
	</div>
</center>
</body>
</html>
