<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  <![endif]-->
    <title>مولد الجمل العربية</title>
    <link href="{{ url_for('static', filename='resources/files/favicon1.png')}}" rel="icon" type="image/png">
    <link href="{{ url_for('static', filename='resources/files/adawatstyle.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename='resources/files/xzero-rtl/css/bootstrap-arabic.min.css')}}" rel="stylesheet">
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <!--
    <link href="resources/files/bootstrap-rtl.min.css" rel="stylesheet">-->
    <meta content="width=device-width, initial-scale=1" name="viewport">
  </head>
  <body dir="rtl">
                   <p> <a href="main"><img alt="مولد الجمل العربية" height="120px"
                    src="{{ url_for('static', filename='resources/files/logo.png')}}" style='float:right; margin-top:-20px;'> </a></p>
<h3>مولد الجمل العربية</h3>

    <div class="container">
      <div class="row clearfix">
        <div class="col-md-9 column">


<!--
          <ul class="switch-locale">
              <li><a href="#" data-locale="ar">العربية</a></li>
              <li><a href="#" data-locale="en">English</a></li>
              <li><a href="#" data-locale="fr">Français</a></li>
          </ul>
-->
<!--
          <ul>
              <li><a href="{{ url_for('home', lang='ar') }}">العربية</a></li>
              <li><a href="{{ url_for('home', lang='en') }}">English</a></li>
              <li><a href="{{ url_for('home', lang='fr') }}">Français</a></li>
          </ul>
-->
<ul>
  {% for language in available_languages %}
    <li><a href="{{ url_for('home', lang=language, locale=language) }}">{{ available_languages[language] }}</a></li>
  {% endfor %}
</ul>

          <form id="NewForm" name="NewForm" onsubmit="return false"><br>



{{_('نوع الجملة:')}}
           <select id='phrase_type'  class='form-inline' name='phrase_type'>
</select>
<br/>{{_('فاعل')}} <select id='subject'  class='form-inline' name='subject'>
    <option value=""></option>
  

</select>
<br/>{{_('فعل مساعد')}}
: <select id='auxiliary'  class='form-inline' name='auxiliary'>
    <option value=""></option>

</select>
{{_('فعل:')}}
<select id='verb'  class='form-inline' name='verb'>
    <option value=""></option>

</select>
{{_('زمن:')}}
<select id='tense'  class='form-inline' name='tense'>
  

</select>
{{_('مبني للمعلوم/مجهول:')}}
<select id='voice'  class='form-inline' name='voice'>
 

</select>
{{_('مثبت/منفي:')}}
<select id='negative'  class='form-inline' name='negative'>
  
</select>
<br/>{{_('مفعول')}} <select id='object'  class='form-inline' name='object'>
    <option value=""></option>

</select>
{{_('ظرف زمان:')}}
<select id='time'  class='form-inline' name='time'>

    <option value=""></option>

</select>
{{_('ظرف مكان:')}}
 <select id='place'  class='form-inline' name='place'>
    <option value=""></option>

</select>
{{_('ظرف مكان:')}}
 <select id='place'  class='form-inline' name='place'>
    <option value=""></option>

</select>




    <br>
            <div class="form-inline"><a class="btn btn-primary" id="phrase" title="'بناء الجملة'">{{_('بناء')}}</a>
            <a class="btn btn-primary" id="random_select" title="'اختيار عشوائي للمفردات'">{{_('عشوائي')}}</a>
            <a class="btn btn-primary" id="sample" title="'نسخ عينة جيسون للتجارب البرمجية'">{{_('عينة')}}</a>
              <input checked="checked" class="checkbox" id="LastMark" value="1"
                type="checkbox" title="'إظهار حركة الإعراب في أواخر الكلمات'"> {{_('حركة الإعراب')}}</div>

          </form>

          <!--<section class="bg-danger text-white"> أضفنا زرا لتسهيل النسخ</section>-->
          <output id="result" class="form-control" width="100%%">{{ResultText}}</output>
          <section class="bg-info" id="small_hint"></section>
        </div>
        <div class="col-md-3 column"> <progress id="loading"></progress>
          <!--              <div class="panel panel-default">
               <div class="panel-heading"> ادعم مشكال</div>               <div class="panel-body"><a href="https://www.patreon.com/bePatron?u=23679540" data-patreon-widget-type="become-patron-button">ادعمنا على باتريون</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>           <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick" /><input type="hidden" name="hosted_button_id" value="SAEUNQU5QW834" /><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_DZ/i/scr/pixel.gif" width="1" height="1" /></form></div>--></div>
        <section class="bg-info" id="hint"></section>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-9 column"> </div>
      <div class="col-md-3 column"> </div>
    </div>
    <div class="container"><br>
      <div class="row clearfix">
        <div class="row clearfix" id="myfooter">
          <div class="col-md-3 column" id="myprojects">
            <div class="panel panel-default">
              <div class="panel-body"> <a href="http://blog.tahadz.com"><span class="glyphicon glyphicon-globe"></span></span>
              {{_('مدونتي')}}
                     </a>
                <!--
                            <div class="media">-->
                <!--
  <div class="media-right">    <img src="resources/files/images/dreamdevdz.png" class="media-object" style="width:100px">  </div>  <div class="media-body">    <h4 class="media-heading">الاس</h4>     من شركة <a href="https://dreamdev.dz/"> DreamDev.dz    </a>  </div>
--><!--
</div>--> <br>{{_('الاستضافة بدعم من شركة')}} <a href="https://dreamdev.dz/">
                  DreamDev.dz<span class="glyphicon glyphicon-globe"></span></a>
                <script>//~ var script = "%(script)s";
        //~ var script = "http://localhost:8080";
        //~ const script = "http://127.0.0.1/yaziji";
        const script = "{{url_host_path}}";
        //~ const script = "http://127.0.0.1:5000";
    </script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 
<script async="" src="{{ url_for('static', filename='resources/files/xzero-rtl/js/bootstrap-arabic.min.js')}}"></script>


<script src="{{ url_for('static', filename='resources/i18n/js/lib/CLDRPluralRuleParser/CLDRPluralRuleParser.js')}}"></script>
<script src="{{ url_for('static', filename='resources/i18n/js/lib/jquery.i18n/jquery.i18n.js')}}"></script>
<script src="{{ url_for('static', filename='resources/i18n/js/lib/jquery.i18n/jquery.i18n.messagestore.js')}}"></script>
<script src="{{ url_for('static', filename='resources/i18n/js/lib/jquery.i18n/jquery.i18n.fallbacks.js')}}"></script>
<script src="{{ url_for('static', filename='resources/i18n/js/lib/jquery.i18n/jquery.i18n.language.js')}}"></script>
<script src="{{ url_for('static', filename='resources/i18n/js/lib/jquery.i18n/jquery.i18n.parser.js')}}"></script>
<script src="{{ url_for('static', filename='resources/i18n/js/lib/jquery.i18n/jquery.i18n.emitter.js')}}"></script>
<script src="{{ url_for('static', filename='resources/i18n/js/lib/jquery.i18n/jquery.i18n.emitter.bidi.js')}}"></script>
<script src="{{ url_for('static', filename='resources/i18n/js/lib/history/jquery.history.js')}}"></script>
<script src="{{ url_for('static', filename='resources/i18n/js/lib/url/url.min.js')}}"></script>

  <script src="{{ url_for('static', filename='resources/i18n/js/global.js')}}"></script>
                
                <script async="" src="{{ url_for('static',filename='resources/files/adawat.js')}}"></script> 
                
                
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
